<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @chef do |f| %>
        <%= f.label :chefname %>
        <%= f.text_field :chefname, class: "form-control" %><br>

        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %><br>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %><br>

        <% if @chef.new_record? %>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control" %><br>

        <% end %>

        <%= f.submit @chef.new_record? ? "Register" : "Edit Profile", class: "btn btn-danger" %>
    <% end %>

  </div>
</div>
