<% if current_user.admin? %>
    <h1>Users</h1>
    <div class="container">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Chefname</th>
          <th>Email</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <% Chef.all.each do |chef| %>
        <tr>
          <td><%= chef.chefname %></td>
          <td><%= chef.email %>></td>
          <td class="text-center"><%= link_to "Delete user", chef, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger btn-block' %></td>
        </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <% end %>


<h1 class="text-center"><%= render 'shared/title', title: "Chef: " + @chef.chefname %></h1>
<%= render 'shared/errors', obj: @chef %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= gravatar_for @chef, size: 200 %>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <h3><em>Recipes:</em></h3>
  </div>
</div>

<% @recipes.each do |recipe| %>
    <div class="row">
      <div class="col-lg-6 well col-lg-offset-3">
        <h4>
          <%= link_to recipe.name, recipe_path(recipe) %>
        </h4>

        <p>
          <%= recipe.summary %>
        </p>

        <div class="pull-right">
          <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; <%= recipe.thumbs_up_total %>
          <% end %>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp; <%= recipe.thumbs_down_total %>
          <% end %>
        </div>
        <% if params[:action] == 'show' %>
            <%= recipe.description %>
        <% end %>
        <p>
          <span class="quiet"><small>Created: <%= time_ago_in_words(recipe.created_at) %> ago</small></span><br>
          <span class="quiet"><small>Updated: <%= time_ago_in_words(recipe.updated_at) %> ago</small></span>
        </p>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= will_paginate @recipes %>
  </div>
</div>


