<%= render 'shared/errors', obj: @recipe %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @recipe do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %><br>

        <%= f.label :summary %>
        <%= f.text_field :summary, class: "form-control" %><br>

        <%= f.label :description %>
        <%= f.text_area :description, rows: 10, class: "form-control" %><br>

        <%= f.submit(@recipe.new_record? ? "Create Recipe" : "Edit Recipe", class: "btn btn-danger") %>
    <% end %>

  </div>
</div>