<%= render 'shared/title', title: @recipe.name %>

  <div class="container">
    <div class="single-page-content">
      <div class="single-header cf">
        <div class="single-info">
          <h2>Summary</h2>
          <p><%= @recipe.summary %></p>
          <h2>Ingredients</h2>
          <ul>
              <%= render @recipe.ingredients %>
          </ul>
          <%= link_to 'Edit recipe', edit_recipe_path(@recipe), class: 'button' %>
        </div>
        <div class="single-image">
          <%= image_tag(@recipe.picture.url) if @recipe.picture? %>
        </div>
      </div>
      <div class="single-desc">
        <%= simple_format(@recipe.description) %>
      </div>
    </div>
  </div>

  <!--
<h1 class="text-center"><%= render 'shared/title', title: @recipe.name %></h1>

<div class="row">
  <div class="col-md-4 pull-right center">
    <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef) %>
    <p>
      <h5>Brought to you by: <%= @recipe.chef.chefname %></h5>
    </p>
  </div>

  <div class="col-md-8">
    <% if logged_in? && (@recipe.chef == @current_user || @current_user.admin?) %>
    <%= link_to "Edit this Recipe", edit_recipe_path(@recipe), class: "btn btn-success pull-right" %>
        <% end %>
    <% if logged_in? && @current_user.admin? %>
        <%= link_to "Delete Recipe", @recipe, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
    <% end %>
    <h3><%= @recipe.summary %></h3>

    <div class="show_recipe" style="margin-bottom: 15px;">
      <%= image_tag(@recipe.picture.url, size: "400x200", class: "gravatar") if @recipe.picture? %>
    </div>

    <div class="well">
      <p>
        <Strong>Steps:</Strong>
      </p>
      <%= simple_format(@recipe.description) %>
      <p><%= "Styles: " if !@recipe.styles.nil?%> <%= render @recipe.styles %></p>
      <p><%= "Ingredients: " if !@recipe.ingredients.nil? %> <%= render @recipe.ingredients %></p>
      <div class="pull-right">
        <%= link_to like_recipe_path(@recipe, like:true), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; <%= @recipe.thumbs_up_total %>
        <% end %>
            &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
             <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp; <%= @recipe.thumbs_down_total %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h5><%= link_to "Back", recipes_path, class: "btn btn-success btn-md text-center" %></h5>


<div class="row">
  <div class="col-md-8">
    <h3 class="text-center"><%= link_to "Reviews", '#', id: 'reviews' %></h3>
  </div>
</div>

<div class="row" id="review_row">
<div class="col-md-8" id="reviews_fields">


<% @recipe.reviews.each do |review| %>

      <h4><%= link_to review.chef.chefname, chef_path(review.chef.id), id: 'review_name' %>
        <span class="small"><%= time_ago_in_words(review.created_at)%> ago</span>
      </h4>

      <p class="well">
        <%= review.body %>
      </p>
    <% end %>
</div>

  <div class="row" id="review_form">
    <div class="col-md-8">
      <%= render 'reviews/form' %>
    </div>
  </div>

</div> -->
