<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body class="home-body">
  <div id="wrapper">

  <a href="#" id="my-button"> | | | </a>

<%= render 'layouts/header' %>


  <%= render 'layouts/messages' %>
<%= yield %>

<!-- </div> -->
<%= render 'layouts/footer' %>
</div>
</body>
</html>
